This is a basic example that shows how to use mysql.connector
to connect to your database and create table 
In this example we create table named person with two columns Name and Last Name
The Name is chosen to be char (starnge assumption just for this example) so a fixed-length string
and Last Name is chose to be varchar so a variable-length string

In [1]:
import mysql.connector

In [2]:
cnx = mysql.connector.connect(user='@#$%@#%$', password='@##$%#$%@')
cursor = cnx.cursor()

In [3]:
sql1 = 'CREATE DATABASE IF NOT EXISTS mydata'

In [4]:
sql2 = 'USE mydata'

In [5]:
sql3 = "CREATE TABLE IF NOT EXISTS person (Name CHAR(22), LastName VARCHAR(22))"

In [6]:
cursor.execute ("SELECT VERSION()")
row = cursor.fetchone ()
print("server version:", row[0])

server version: 8.0.11

In [7]:
cursor.execute ( sql1 )

In [8]:
cursor.execute ( sql2 )

In [9]:
cursor.execute ( sql3 )

In [10]:
name = 'Tom'
last_name = 'Powell'

In [11]:
add_person = "INSERT INTO person(Name, LastName) + VALUES (%s, %s)"%(name, last_name)

add_person = (
  "INSERT INTO person (Name, LastName) "
  "VALUES (%s, %s)"
)
data = ('Tom', 'Powell')

In [12]:
cursor.execute(add_person, data)

In [13]:
sql4 = "SELECT * from person"

In [14]:
cursor.execute ( sql4 )

In [15]:
for el in cursor:
    print(el)

('Tom', 'Powell')

In [20]:
cursor.execute ( "DESC person" )

In [21]:
for el in cursor:
    print(el)

('Name', b'char(22)', 'YES', b'', None, b'')
('LastName', b'varchar(22)', 'YES', b'', None, b'')